header {
  background: $light-color;
  padding: 0.3rem 2rem;

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title,
  ul,
  li,
  a {
    display: inline-block;
  }

  .search {
    form { 
        display:flex;
        justify-content: center;
        align-items: center;
    }
    input{ 
        outline: none;
        border:none;
        width: 250px;
        height: 40px;
        padding-left: 20px;
        border-radius: 20px;
        background-color: $mid-color;
        margin-right:8px; 
        transition: 0.5s;

        &:hover {
            transform: scale(1.03;
        }
    }

    button { 
        outline: none;
        border:none;
        background-color: transparent;
    }
    .magnifying-glass { 
        width:2rem;
        transition: 0.5s;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }

    }
  }
  

  .title {
    color: $dark-color;

    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    margin: 0;
  }

  ul {
    list-style: none;
    margin-right: 20px;
  }
  li {
    display: inline-block;
    margin-left: 15px;
  }
  a {
    color: $dark-color;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 5px;
    transition: all 0.5s;
  }

  a:hover {
    color: $brand-color;
    // font-size: 1.1rem;
    transform: scale(1.1);
    border-bottom: 2px solid $brand-color;

  }
}
