@import './variables';
@import './mixins';

.main-display { 
    padding:20px;
    .title { 
        text-align: center;
        color: $light-color;
        letter-spacing: 2px;
        margin-bottom:40px;
    }

    .display-list { 
        padding:0;
    }

    .topics { 
       
        @include link-styling;
        ul { 
            margin:0 auto;
            padding:0;
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            letter-spacing: 1px;
        }

    }
 
}