@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;1,600&family=Source+Serif+Pro&display=swap");
header {
  background: #F8FAFC;
  padding: 0.3rem 2rem;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
}
header .title,
header ul,
header li,
header a {
  display: inline-block;
}
header .title {
  color: #3D4B5F;
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  margin: 0;
}
header ul {
  list-style: none;
  margin-right: 20px;
}
header li {
  display: inline-block;
  margin-left: 15px;
  text-transform: uppercase;
}
header a {
  color: #3D4B5F;
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 5px;
  transition: all 0.5s;
}
header a:hover {
  color: #8EC1D6;
  transform: scale(1.1);
  border-bottom: 2px solid #8EC1D6;
}

.search form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search input {
  outline: none;
  border: none;
  width: 250px;
  height: 40px;
  padding-left: 20px;
  border-radius: 20px;
  background-color: #CBD5E1;
  margin-right: 8px;
  transition: 0.3s;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.7rem;
}
.search input:hover {
  transform: scale(1.05);
}
.search input:focus {
  border: 1px solid #8EC1D6;
}
.search button {
  outline: none;
  border: none;
  background-color: transparent;
  z-index: 1;
}
.search button:hover {
  cursor: pointer;
}
.search .magnifying-glass {
  width: 1.8em;
  margin-left: -75px;
}

main {
  display: grid;
  height: 100%;
}
main .main-display, main .left-aside {
  height: 100%;
}
main .display-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.card {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #CBD5E1;
}
.card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  transition: 0.3s;
}
.card img:hover {
  transform: scale(1.1);
}
.card a {
  text-decoration: none;
}
.card .news-description:hover {
  cursor: pointer;
}

.main-display {
  padding: 20px;
  overflow: auto;
}
.main-display .title {
  text-align: center;
  color: #F8FAFC;
  letter-spacing: 2px;
  margin-bottom: 40px;
}
.main-display .display-list {
  padding: 0;
}
.main-display .topics ul {
  list-style: none;
  margin-right: 20px;
}
.main-display .topics li {
  display: inline-block;
  margin-left: 15px;
  text-transform: uppercase;
}
.main-display .topics a {
  color: #3D4B5F;
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 5px;
  transition: all 0.5s;
}
.main-display .topics a:hover {
  color: #8EC1D6;
  transform: scale(1.1);
  border-bottom: 2px solid #8EC1D6;
}
.main-display .topics ul {
  margin: 0 auto;
  padding: 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
}

@media screen and (max-width: 930px) {
  header .title {
    margin-left: 10px;
  }
  header nav {
    flex-direction: column;
  }
  header nav .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    padding: 2.5rem 0 0;
    text-align: center;
  }
  header nav .nav-toggle {
    display: block;
  }
}
@media screen and (max-width: 800px) {
  body {
    width: 100vw;
  }
  main .display-list {
    grid-template-columns: 1fr;
  }
  .main-display .topics .topics-list {
    display: none;
  }
}
.nav-toggle {
  display: none;
  margin: 8px auto;
  transition: 0.3s;
}
.nav-toggle:hover {
  transform: scale(1.2);
}

.nav-links.show-menu {
  top: 22%;
  transform: translate(0, -10%);
  background: #F8FAFC;
  border-radius: 20px;
  z-index: 1;
  padding: 20px;
}

.nav-toggle {
  cursor: pointer;
}

.main-display .topics-list.show-topics {
  display: flex;
  flex-direction: column;
  background: #F8FAFC;
  padding: 20px;
  border-radius: 20px;
  top: 50%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
}
.main-display .topics-list.show-topics .topic-item {
  margin-top: 15px;
}

.loader {
  content: "";
  background: #000 url("../assets/loader1.gif") no-repeat center 70%;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.7;
}

.hide {
  display: none;
}

/* From uiverse.io by @adamgiebl */
.pagination button {
  display: flex;
  cursor: pointer;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  padding: 0.8em 1.3em 0.8em 0.9em;
  color: white;
  background: #ad5389;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 16px;
}

button svg {
  margin-right: 3px;
  transform: rotate(30deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button span {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button:hover svg {
  transform: translateX(5px) rotate(90deg);
}

button:hover span {
  transform: translateX(7px);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 90%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 30px 60px;
  border: 1px solid #888;
  width: 80%;
  font-family: "Source Serif Pro", serif;
  line-height: 1.8;
  word-spacing: 0.5em;
  font-size: 1.3rem;
  box-sizing: border-box;
}
.modal-content p {
  margin-top: 25px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #0d1218;
  color: #3D4B5F;
  min-height: 100vh;
}/*# sourceMappingURL=main.css.map */