@import './variables';
@import './header';
@import './layout';
@import './card';
@import './mainDisplay';
@import './mixins';
@import './responsive';
@import './loader';
@import './buttons';


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;1,600&display=swap');


html,body{ 
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{ 
    background-color: $dev-bg;
    color: $dark-color;
    min-height: 100vh;
    // color:#00d4fe;
}





